<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="pull-left">
                    <h4>{{hashtag.name}}</h4>
                    <!--
                    <button ng-click="delete()" class="btn btn-block btn-danger">
                        <span class="glyphicon glyphicon-minus"></span> Delete
                    </button>
                    -->
                </div>
            </div>
        </div>

        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>


            <div class="panel-body">
                <div class="media">
                    <div class="alert alert-info" ng-repeat="tweet in tweets">

                        <div class="content">
                            <div class="stream-item-header">

                                <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank">
                                    <img class="avatar js-action-profile-avatar" src="{{tweet.user.profile_image_url}}" alt="">
                                    <strong class="fullname js-action-profile-name show-popup-with-id">{{tweet.user.name}}</strong>
                                    <span>‏</span><span class="username js-action-profile-name">@<b>{{tweet.user.screen_name}}</b></span>
                                </a>
                            </div>
                        </div>

                        <p>{{tweet.text}}</p>
                    </div>

                </div>
            </div>

            <div class="text-center" ng-show='busy'>
                <div>Loading data...</div>
            </div>
        </div>




    </div>
</div>